In [5]:
%config IPCompleter.greedy=True
import os
import pygal
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
import cairosvg
import datetime
import matplotlib.pyplot as plt
from scipy.stats import ks_2samp
from scipy.stats import chisquare

In [8]:
path_datos = "/home/lalo/Documentos/Diplomado Ciencia de Datos/Modulo 1/Nulos, missing/"

tabla = pd.read_csv(path_datos + "titanic.csv")

In [4]:
tabla.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
# Neceisto saber cuantos valores hay nulos, entonces
tabla.isnull().sum() / len(tabla)
# Se ve que cabin tiene muchos missings

PassengerId    0.000000
Survived       0.000000
Pclass         0.000000
Name           0.000000
Sex            0.000000
Age            0.198653
SibSp          0.000000
Parch          0.000000
Ticket         0.000000
Fare           0.000000
Cabin          0.771044
Embarked       0.002245
dtype: float64

In [7]:
# Entonces podemos eliminar la columna, pero se puede hacer por medio 
tabla = tabla.drop(columns = ["Cabin"])

In [ ]:
# ¡Como quitamos registros que tengan valores ausentes
# con drop na
tabla.

In [9]:

tabla = pd.read_csv(path_datos + "titanic.csv")


# Imputaciòpn de media

In [12]:
df = pd.read_csv(path_datos + "titanic.csv")

In [13]:
im = SimpleImputer(fill_value="mean")

In [ ]:
# Se coloca el valor de la media en todos los vacios
# Solo hace con variables continuas
df["Age_im_sk"] = im.fit_transform(df[["Age"]])

In [14]:
df["Age_im_pd"] = df["Age"].fillna(df["Age"].mean())