In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("/home/oscar/Documents/Diplomado Ciencia de Datos/Módulo 1/Normalización de variables/churn_train.csv")

In [16]:
df["state"].value_counts(True)

WV    0.032013
MN    0.027611
OH    0.027211
WY    0.024410
VT    0.024010
OR    0.024010
AL    0.023609
WI    0.023209
NY    0.023209
ID    0.022809
CT    0.022009
NJ    0.022009
VA    0.021609
TX    0.021208
IN    0.021208
UT    0.021208
NV    0.021208
MI    0.021208
MA    0.021208
ND    0.020808
MT    0.020808
AZ    0.020008
KY    0.019608
IL    0.019208
WA    0.019208
FL    0.019208
SD    0.019208
CO    0.018407
NC    0.018407
NM    0.018407
MS    0.018407
RI    0.018007
ME    0.018007
KS    0.018007
SC    0.018007
MD    0.017607
NH    0.017207
MO    0.016807
GA    0.016807
NE    0.016807
LA    0.016807
AR    0.016407
OK    0.016407
TN    0.016006
DE    0.016006
HI    0.016006
IA    0.015206
AK    0.015206
DC    0.014406
PA    0.012005
CA    0.011605
Name: state, dtype: float64

In [17]:
df["state"].unique()

array(['OR', 'RI', 'IN', 'MI', 'OK', 'WV', 'ID', 'NV', 'PA', 'LA', 'KY',
       'NE', 'SD', 'NJ', 'WI', 'AZ', 'KS', 'UT', 'DC', 'MS', 'TN', 'CT',
       'CO', 'MT', 'VT', 'FL', 'NC', 'NY', 'OH', 'NM', 'DE', 'ND', 'IA',
       'CA', 'GA', 'MO', 'ME', 'IL', 'WA', 'WY', 'AK', 'VA', 'AL', 'MN',
       'SC', 'NH', 'MD', 'AR', 'TX', 'HI', 'MA'], dtype=object)

In [20]:
def normalize_state(texto):
    if texto in ['OR', 'RI', 'IN', 'MI', 'OK']:
        return "Bloque 1"
    if texto in ['WV', 'ID', 'NV', 'PA', 'LA']:
        return "Bloque 2"
    if texto in ['KY', 'NE', 'SD', 'NJ', 'WI'] :
        return "Bloque 3"
    if texto in ['AZ', 'KS', 'UT', 'DC', 'MS']:
        return "Bloque 4"
    if texto in ['TN', 'CT', 'CO', 'MT', 'VT']:
        return "Bloque 5"
    if texto in ['FL', 'NC', 'NY', 'OH', 'NM']:
        return "Bloque 6"
    if texto in ['DE', 'ND', 'IA', 'CA', 'GA']:
        return "Bloque 7"
    if texto in ['MO', 'ME', 'IL', 'WA', 'WY']:
        return "Bloque 8"
    if texto in ['AK', 'VA', 'AL', 'MN', 'SC']:
        return "Bloque 9"
    if texto in ['NH', 'MD', 'AR', 'TX', 'HI', 'MA']:
        return "Bloque 10"
#     for letra in ["Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P", "A", "S", "D", "F", "G", "H", "J", "K", "L", "Z", "X", "C", "V", "B", "N", "M"]:
#         if text[0] == letra:
#             return f"Estados {letra}"
#         else:
#             continue

In [ ]:
if state in ('OR', 'RI', 'IN', 'MI', 'OK') Then state_2="Bloque 1";
if state in ('WV', 'ID', 'NV', 'PA', 'LA') Then state_2="Bloque 2";
if state in ('KY', 'NE', 'SD', 'NJ', 'WI')  Then state_2="Bloque 3";
if state in ('AZ', 'KS', 'UT', 'DC', 'MS') Then state_2="Bloque 4";
if state in ('TN', 'CT', 'CO', 'MT', 'VT') Then state_2="Bloque 5";
if state in ('FL', 'NC', 'NY', 'OH', 'NM') Then state_2="Bloque 6";
if state in ('DE', 'ND', 'IA', 'CA', 'GA') Then state_2="Bloque 7";
if state in ('MO', 'ME', 'IL', 'WA', 'WY') Then state_2="Bloque 8";
if state in ('AK', 'VA', 'AL', 'MN', 'SC') Then state_2="Bloque 9";
if state in ('NH', 'MD', 'AR', 'TX', 'HI', 'MA') Then state_2="Bloque 10";

In [21]:
df["state"] = df["state"].map(normalize_state)

In [22]:
df["state"].value_counts(True)

Bloque 10    0.109644
Bloque 6     0.106443
Bloque 9     0.106042
Bloque 2     0.104842
Bloque 5     0.101240
Bloque 3     0.100840
Bloque 1     0.100840
Bloque 8     0.097639
Bloque 4     0.092037
Bloque 7     0.080432
Name: state, dtype: float64